<div class="header">
    <div class="container">
        <h4 class="text-center">Movie Discovery</h4>
        <p class="text-center">Welcome to our movie discovery platform — your ultimate destination for exploring
            detailed information about movies and your favorite actors and actresses. Whether you're a casual viewer or
            a passionate cinephile, our website offers a rich and user-friendly experience to help you dive deep into
            the world of entertainment
        </p>
    </div>
</div>
<div class="spinner-container">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>


<div class="bg-light d-flex justify-content-between align-items-center p-2 mb-3">
    <div class="d-flex gap-2">
        <button class="btn btn-sm" (click)="getMovies(10751, 'Feel Good' )">Feel Good</button>
        <button class="btn btn-sm" (click)="getMovies(28 , 'Action Fix')">Action Fix</button>
        <button class="btn btn-sm" (click)="getMovies(878 , 'Mind Benders')">Mind Benders</button>
    </div>
    <div class="d-flex gap-2 align-items-center">
        <div class="input-group wid-350">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Movies or Actors..."
                (keyup)="filterResults($event)" aria-label="Search">

        </div>
    </div>
</div>

<div class="container" *ngIf="!loading">
    <h2 class="section-header">{{heading}}</h2>
    <div class="actor-details" *ngIf="isSearching && actorDetailsList.length > 0">
        <h3>Actor & Actress:</h3>


        <div class="container mt-4">
            <div class="row g-4">
                <div class="col-12 col-md-6 col-lg-3" *ngFor="let actor of actorDetailsList">
                    <div class="card shadow-sm p-2 text-center card-max-hieight">

                        <span *ngIf="actor.profile_path !== null">
                            <img src="https://media.themoviedb.org/t/p/w220_and_h330_face{{actor.profile_path}}"
                                alt="Profile image" class="rounded-circle mx-auto d-block mt-3 image-circle">
                        </span>
                        <span *ngIf="actor.profile_path === null">
                            <img src="imagenotfound.jpg" alt="Profile image"
                                class="rounded-circle mx-auto d-block mt-3 image-circle" alt="Actor-img">
                        </span>

                        <div class="card-body">
                            <p class="card-text text-muted">Original Name: <span class="card-title font-head">
                                    {{actor.original_name}}</span></p>
                            <p class="card-text text-muted"> {{(actor.gender === 1)?'Actress':'Actor'}}</p>
                            <p class="card-text text-muted">popularity: {{actor.popularity | number:'1.2-2'}}</p>
                            <p class="card-text text-muted moviesfont">Movies: <span class="lenthtrin"
                                    *ngFor="let item of actor.known_for; let last = last">{{item.original_name ||
                                    item.title ||
                                    item.original_title}}<span *ngIf="!last" class="sepration-sym">| </span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <hr class="divider">
        <h3 *ngIf="movieList.length > 0">Movies:</h3>
    </div>
    <div class="d-flex gap-4 flex-wrap item-aligmnent-row">
        <div class="movie-card" *ngFor="let item of movieList;let i = index;">
            <div class="movie-img-section mb-2">
                <a [routerLink]="['/details', item.id]">
                    <span *ngIf="item.poster_path !== null">
                        <img src="https://media.themoviedb.org/t/p/w220_and_h330_face{{item.poster_path}}"
                            alt="Actor-img" class="movie-img">
                    </span>
                    <span *ngIf="item.poster_path === null">
                        <img src="imagenotfound.jpg" alt="Actor-img" class="movie-img">
                    </span>
                </a>
                <div class="rating-detail">

                    <p class="text-white text-center"> {{item.title}}</p>
                    <span class="d-flex gap-4">
                        <p class="text-center text-white"> IMDB: {{item.vote_average | number:'1.2-2'}}/10</p>
                        <p class="text-white  rel-date-alignment"> Released on: {{item.release_date | date}}</p>
                    </span>
                </div>

                <button class="btn py-2 wishlist-btn" mat-icon-button (click)="toggleWishlist(item.id, item)">
                    <mat-icon [ngStyle]="{'color':item.isclicked? 'red' : 'white'}">{{ item.isclicked ? 'favorite' :
                        'favorite_border' }}</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>