<div class="header">
    <div class="container">
        <h4 class="text-center">Movie Discovery</h4>
        <p class="text-center">Welcome to our movie discovery platform — your ultimate destination for exploring
            detailed information about movies and your favorite actors and actresses. Whether you're a casual viewer or
            a passionate cinephile, our website offers a rich and user-friendly experience to help you dive deep into
            the world of entertainment
        </p>
    </div>
</div>
<div class="spinner-container">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>


<div class="bg-light d-flex justify-content-between align-items-center p-2 mb-3">
    <div class="d-flex gap-2">
        <button class="btn btn-sm" (click)="getMovies(10751, 'Feel Good' )">Feel Good</button>
        <button class="btn btn-sm" (click)="getMovies(28 , 'Action Fix')">Action Fix</button>
        <button class="btn btn-sm" (click)="getMovies(878 , 'Mind Benders')">Mind Benders</button>
    </div>
    <div class="d-flex gap-2 align-items-center">
        <div class="input-group wid-350">
            <span class="input-group-text bg-white px-2 " id="basic-addon1">
                <span class="material-symbols-outlined">
                    search
                </span>
            </span>
            <input type="text" class="form-control border-start-0 ps-0" placeholder="Search Movies or Actors...."
                aria-describedby="basic-addon1" (keyup)="filterResults($event)">
        </div>
    </div>
</div>

<div class="container" *ngIf="!loading">
    <h2 class="section-header">{{heading}}</h2>
    <div class="actor-details" *ngIf="isSearching && actorDetailsList.length > 0">
        <h3>Actor:</h3>
        <div class="row mx-0" *ngFor="let actor of actorDetailsList">
            <div class="movie-img-section mb-2 col-4 px-0">
                <div class="actor-details">

                    <div class="row mx-0">
                        <div class="movie-img-section mb-2 col-4 px-0">
                            <span *ngIf="actor.profile_path !== null">
                                <img src="https://media.themoviedb.org/t/p/w220_and_h330_face{{actor.profile_path}}"
                                    alt="Actor-img" class="movie-img">
                            </span>
                            <span *ngIf="actor.profile_path === null">
                                <img src="assets/images/imagenotfound.jpg" alt="Actor-img" class="movie-img">
                            </span>
                        </div>
                        <div class="col-8">
                            <h6>Actor name comes here </h6>
                            <p>Lorem Ipsum has been the industry'ssss standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining
                                essentially unchanged.</p>
                        </div>
                    </div>
                    <hr class="divider">
                    <h5>Movies</h5>
                </div>
            </div>
            <div class="col-8 heading-sepration">
                <h5> Name: {{actor.name}} </h5>
                <h5>Original Name: {{actor.original_name}}</h5>
                <h5>Profession: {{(actor.gender === 1)?'Actress':'Actor'}}</h5>
                <h5>popularity: {{actor.popularity | number:'1.2-2'}}</h5>
                <h5>Movies :</h5>
                <ul class="list-unstyled d-flex gap-3 p-0">
                    <li></li>
                    <li class="d-flex gap-1" *ngFor="let item of actor.known_for; let last = last">
                        <a [routerLink]="['/details', item.id]">{{item.original_name || item.title ||
                            item.original_title}} </a><span *ngIf="!last" class="sepration-sym">| </span>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="divider">
        <h3>Movies:</h3>
    </div>
    <div class="d-flex gap-4 flex-wrap item-aligmnent-row">
        <div class="movie-card" *ngFor="let item of movieList;let i = index;">
            <div class="movie-img-section mb-2">
                <a [routerLink]="['/details', item.id]">
                    <span *ngIf="item.poster_path !== null">
                        <img src="https://media.themoviedb.org/t/p/w220_and_h330_face{{item.poster_path}}"
                            alt="Actor-img" class="movie-img">
                    </span>
                    <span *ngIf="item.poster_path === null">
                        <img src="assets/images/imagenotfound.jpg" alt="Actor-img" class="movie-img">
                    </span>
                </a>
                <div class="rating-detail">

                    <p class="text-white text-center"> {{item.title}}</p>
                    <span class="d-flex gap-4">
                        <p class="text-center text-white"> {{item.vote_average | number:'1.2-2'}}/10</p>
                        <p class="text-white  rel-date-alignment"> {{item.release_date | date}}</p>
                    </span>
                </div>

                <button class="btn py-2 wishlist-btn" mat-icon-button (click)="toggleWishlist(item.id, item)">
                    <mat-icon [ngStyle]="{'color':item.isclicked? 'red' : 'white'}">{{ item.isclicked ? 'favorite' :
                        'favorite_border' }}</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>